<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>formulario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>ccrud pokemaker</h1>
</div>

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <a href="/" class="btn btn-info">Voltar</a>
</div>

<div class="col-8 m-auto pt-4 pb-2 text-center">
    <form name="form" id="form" action="/create/" method="post">
      {% csrf_token %}
      <div class="form-group mt-4">{{form.name}}</div>
      <div class="form-group mt-4">{{form.typeOne}}</div>
      <div class="form-group mt-4">{{form.typeTwo}}</div>
      <div class="form-group mt-4">{{form.hp}}</div>
      <div class="form-group mt-4">{{form.attack}}</div>
      <div class="form-group mt-4">{{form.defense}}</div>
      <div class="form-group mt-4">{{form.spAttack}}</div>
      <div class="form-group mt-4">{{form.spDefense}}</div>
      <div class="form-group mt-4">{{form.speed}}</div>
      <input type="submit" class="btn btn-success">
    </form>
</div>

</body>
</html>